name: Deploy Dev Infra

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: ap-south-1

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - uses: hashicorp/setup-terraform@v3

      - name: Build Lambda packages
        run: |
          # Use absolute path for destination
          DEST_DIR="$GITHUB_WORKSPACE/infra/modules/orchestration"
          mkdir -p $DEST_DIR
          
          build_lambda() {
            local folder=$1
            local name=$2
            echo "Building $name..."
            
            # Move into the specific lambda folder
            cd "$GITHUB_WORKSPACE/services/lambdas/$folder"
            
            # Clean up old zips if they exist
            rm -f "$name.zip"
            
            if [ -f "requirements.txt" ]; then
              pip install -r requirements.txt -t .
            fi
            
            zip -r "$name.zip" . -x "*.pyc" "__pycache__/*"
            
            # Move using absolute path
            mv "$name.zip" "$DEST_DIR/"
            
            # Return to workspace root
            cd "$GITHUB_WORKSPACE"
          }

          build_lambda "dispatcher" "dispatcher"
          build_lambda "validate_input" "validate-input"
          build_lambda "detect_type" "detect-type"
          build_lambda "update_status" "update-status"
          build_lambda "job-stream-broadcaster" "job-stream-broadcaster"
          build_lambda "ws/ws-connect" "ws-connect"
          build_lambda "ws/ws-disconnect" "ws-disconnect"
          build_lambda "ws/ws-subscribe" "ws-subscribe"

      - name: Terraform Init
        run: terraform init
        working-directory: infra/envs/dev

      - name: Terraform Apply
        run: terraform apply -auto-approve
        working-directory: infra/envs/dev