name: Deploy Dev Infra

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: ap-south-1

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - uses: hashicorp/setup-terraform@v3

      - name: Build Lambda packages
        run: |
          # Define the base directory for lambdas and destination
          LAMBDA_DIR="services/lambdas"
          DEST_DIR="infra/modules/orchestration"
          
          # Function to zip without boto3
          build_lambda() {
            local folder=$1
            local name=$2
            echo "Building $name..."
            cd $LAMBDA_DIR/$folder
            # Only install requirements if a requirements.txt exists 
            # and it's NOT just boto3
            if [ -f "requirements.txt" ]; then
              pip install -r requirements.txt -t .
            fi
            zip -r "$name.zip" . -x "*.pyc" "__pycache__/*"
            mv "$name.zip" "../../../$DEST_DIR/"
            cd ../../../
          }

          # Execute builds (No need to pip install boto3)
          build_lambda "dispatcher" "dispatcher"
          build_lambda "validate_input" "validate-input"
          build_lambda "detect_type" "detect-type"
          build_lambda "update_status" "update-status"
          build_lambda "job-stream-broadcaster" "job-stream-broadcaster"
          build_lambda "ws/ws-connect" "ws-connect"
          build_lambda "ws/ws-disconnect" "ws-disconnect"
          build_lambda "ws/ws-subscribe" "ws-subscribe"

      - name: Terraform Init
        run: terraform init
        working-directory: infra/envs/dev

      - name: Terraform Apply
        run: terraform apply -auto-approve
        working-directory: infra/envs/dev